sumo:
  config_file: /Users/theocharisvlachopanagiotis/Downloads/files/sioux_falls_network/sioux_falls.sumocfg
  binary: sumo
  total_steps: 7200
  seed: 42
  step_length: 5
risk:
  base_probability: 5.0e-05
  speed_weight: 0.4
  speed_exponent: 2.0
  speed_variance_weight: 0.3
  speed_variance_threshold_ms: 5.0
  density_weight: 0.3
  peak_density_vehicles_per_km: 15
  road_type_multipliers:
    highway: 1.5
    arterial: 1.0
    local: 0.6
    intersection: 2.0
  trigger_threshold: 0.35
  neighbor_radius_m: 150
accident:
  min_duration_seconds: 120
  max_duration_seconds: 1800
  lane_capacity_fraction: 0.3
  response_time_seconds: 300
  max_concurrent_accidents: 2
  secondary_accident_enabled: true
  secondary_risk_radius_meters: 200
  secondary_risk_multiplier: 3.0
output:
  output_folder: results/
  metrics_interval_steps: 60
  save_vehicle_snapshots: true
  save_accident_reports: true
  compute_antifragility_index: true
  save_accident_heatmap: true
  pre_window_seconds: 300
  post_window_seconds: 300
  baseline_window_steps: 1800
